#section-gallery{
    display: flex;
    justify-content: center;
}

#disc-gallery{
    background-color: #780000;
    padding: 1.5%;   
    display:grid;
    grid-template: repeat(3, 1fr) / repeat(5, 1fr); 
}

.cover{
    text-align: center;
}

.cover img{
    width: 80%;
    padding: 5%;

}
.cover img:hover{
    width: 80%;
    padding: 0%;
}