main{
    background-image: url(/src/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: modernSans;
    color: white;
    display: flex;
    flex-direction: column;
}