@import url(reset-style.css);
@import url(body.css);
@import url(header.css);
@import url(menu-nav.css);
@import url(banner.css);

@font-face {
    font-family: AcDcType;
    src: url('/src/font/squealer.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }